main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.navbar {
  background: linear-gradient(to right, rgb(102, 131, 185), #044868);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #838a8d;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.top-product-carousel {
  background: linear-gradient(#838a8d, #5a5d5f);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  padding: 0;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 30px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .carousel img {
    padding: 40px;
  }
}

@media (max-width: 800px) {
  .carousel-caption h2 {
    visibility: hidden;
  }
}
